body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/*Just for debugging*/
/* div {
    border: 1px solid black;
} */

.App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
        "nav nav nav"
        ". dashboard .";
}

.dashboard {
    grid-area: dashboard;
}

.nav {
    grid-area: nav;
    flex-wrap: wrap;
    border-bottom: 1px solid blue;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 10px;
}

nav > ul {
    display: flex;
    justify-content: center;
}

.question-nav li:hover {
    cursor: pointer;
    border-top: 1px solid #888888;
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
}

.question-nav {
    background-color: lightgray;
}

.question-nav li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.active-li {
    background-color: #ffffff;
}

.dashboard-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 100px;
    border-radius: 50%;
}

.question {
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px #888888;
    width: 50%;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 20px 1fr;
    grid-template-areas:
        "h h"
        "i o";
}

.question-header {
    grid-area: h;
    text-align: left;
    background-color: darkgray;
    margin: 0;
}

.question > img {
    grid-area: i;
}

.question-avatar {
    border-right: 2px solid darkgray;
    margin-right: 2px;
}

.question-options {
    grid-area: o;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.btn {
    display: block;
    margin-top: auto;
    margin-left: auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: dimgrey;
    color: white;
}
